<h1>Chicago!</h1>
<p> ************************************************************************* </p>
<p> Happy words: <%=@mood.happy_words%>
</p>



<p> Sad words: <%=@mood.sad_words%>
</p>

<p>
  ********************************************
</p>

<p> Score: <%=@mood.score%> </p>
<br></br>


<p> ************************************************************************* </p>

<h1>San Francisco!</h1>

<p> Happy words: <%=@sf_mood.happy_words%>
</p>


<p> Sad words: <%=@sf_mood.sad_words%>
</p>

<p>
  ********************************************
</p>

<p> Score: <%=@sf_mood.score%> </p>
<br></br>

  <p> ************************************************************************* </p>

<h1>New York!</h1>

<p> Happy words: <%=@ny_mood.happy_words%>
</p>


<p> Sad words: <%=@ny_mood.sad_words%>
</p>

<p>
  ********************************************
</p>

<p> Score: <%=@ny_mood.score%> </p>
<br></br>

